/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #39b6bf;
  --vp-c-brand-2: #43dde8;
  --vp-c-brand-3: #39b6bf;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #18f3a3,
    #06bffd
  );
  --vp-home-hero-actions-background: -webkit-linear-gradient(
    120deg,
    #18f3a3,
    #06bffd
  );
  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient(
    120deg,
    #18f3a3,
    #06bffd
  );
  --vp-home-hero-image-filter: blur(150px);
}




.box {
  position: relative;
  display: inline-block;
  padding: 20px;
  border-radius: 12px;
  transition: background-color 0.3s;

}

.box::before {  
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  background: linear-gradient(90deg, #8f41e9, #578aef);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}

.box:hover::before {
  opacity: 1;
}